/*Setting Margin/Padding to 0, and Hiding ScollBar(allowing me to set when it appears)*/
 body{
 	margin: 0;
 	padding: 0;
 	overflow-x: hidden;
 	overflow-y: hidden;
 }
/*Customizing ScrollBar width*/
 ::-webkit-scrollbar {
	width: 7px;
 }

/*Customizing ScrollBar-Track color*/
::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.1);
}

/*Customizing ScrollBar color*/
::-webkit-scrollbar-thumb {
	 background: black;
	 border: 1px solid black;
	 border-top-right-radius: 5px;
	 border-bottom-right-radius: 5px;
}

/*Hover Effect for the ScollBar*/
::-webkit-scrollbar-thumb:hover {
   background: black; 
}


/*Prerequisites*/
html{
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #0F3B5F;
	box-sizing: border-box;
}
.backgroundContentsPage{
	top: -5%;
	width: 100%;
  	height: 100%;
	position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
   	-webkit-filter: blur(40px);
   	transform: scale(1.3);
   	background-color: rgba(255,255,255,0.01);
}


/*The background for the Text*/
.textBg{ 
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid rgba(0, 0, 0, 0.8);
	width: 80%;
	height: 75%;
	top: 12.5%;
	left: 10%;
	overflow-x: hidden;
	border-radius: 10px;
	
}

/*Text Box*/
.text{
	overflow-x: hidden;
	top: 12%;
	color: white;
	padding: 0px 30px; 
	-webkit-overflow-scrolling:touch;


}

/* Why Heading*/
h1{
	text-align: center;
	font-size: 28px;
	color: black;
	z-index: 1;
	color: white;
	font-family: 'Pacifico', cursive;
}

/*Subtitles*/
.text h2{
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

/*Text*/
.text p{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}

/*Back Button*/


/*Customizing The Universal Back Button*/
.backButton{
	top: 2%;
	width: 120px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	color: white;
	font-size: 30px;
	font-family: monospace;
	text-align: center;
	border: 2px solid rgba(0, 0, 0, 0.8);
	border-radius: 20px;
	left: 10%;
}

/*Adding Hover Effect to Universal Back Button*/
.backButton:hover{
	color: white;
	background-color: black;
	transition: all .2s ease-in-out;
	cursor: pointer;
}

/*Creating the Menu Button*/
.menu{
	top: 2%;
	width: 120px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	color: white;
	right: 0%;
	font-size: 30px;
	font-family: monospace;
	text-align: center;
	border: 2px solid rgba(0, 0, 0, 0.8);
	right: 10%;
	border-radius: 20px;

}
.menu:hover{
	background-color: black;
	transition: all .2s ease-in-out;
	cursor: pointer;
}

/*The Real Navigation*/
#navMenu{
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: -1;
	opacity: 0;
	transition: all .3s ease-in-out;

}

/*The Real Navigation's text box*/
#menuContent{
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 100px;
}
/*The Real Navigation's text */
#menuContent a{
	width: 100px;
	height: 40px;
	text-decoration: none;
	color: #fff;
	font-family: monospace;
	font-size: 32px;
	word-spacing: 100vw;
	margin: auto;
	text-align: center;
	z-index: 1001;
}
#menuContent a:hover{
	color: 	#707070;
	transition: all .1s ease-in-out;

}

/*Adding the three line icon*/
.menuIcon{
	width: 28px;
	height: 2px;
	background-color: white;
	margin: 8px 48px;
}

/*Adding the close icon*/
#closeMenu{
	top: 2%;
	cursor: pointer;
	position: fixed;
	font-family: Lato;
	width: 120px;
	height: 40px;
	right: 10%;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	font-size: 30px;
	background-color: rgb(255, 0, 0);
	text-align: center;
	border: 2px solid black;
	border-radius: 20px;
	color: black;
	z-index: 1001;
}
#closeMenu:hover{
	border: 2px solid white;
	color: white;
	transition: all .2s ease-in-out;
}